$primary: #006032;
$bg: #efefef;
$spacer: 1.5rem;

$navbar-light-brand-color: beige;
$navbar-light-color: beige;

$navbar-light-brand-hover-color: white;
$navbar-light-hover-color: white;

body {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        color-scheme: light dark;
        color: rgba(31, 31, 31, 0.87);
        background-color: #efefef;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .hero {
        padding: 4rem 10% 4rem 10%;
        justify-content: center;
        min-height: 100vh;
      }

      .gallery .card{
        margin: 1rem;
      }

      .jar {
        margin: 0 auto;
      }

      
      .carousel-white-text-black-shadow {
        color: white;
        text-shadow: 1px 1px 3px black;
      }

      table {
        vertical-align: top;
      }

      td {
        min-width: 3rem;
        vertical-align: top;
      }

      tr {
        vertical-align: top;
      }

      .footer {
        padding: 3rem 25% 3rem 25%;
        background-color: #545454;
        color: white;
      }

      .carousel img {
        width: 100%;
        height: auto;
      }


      
                    
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

      