$primary: #006032;
$bg: #efefef;
$spacer: 1.5rem;
$body-bg: #dcdcdc;

$navbar-light-brand-color: beige;
$navbar-light-color: beige;

$navbar-light-brand-hover-color: white;
$navbar-light-hover-color: white;

body {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        color-scheme: light dark;
        color: rgba(31, 31, 31, 0.87);
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      
      .hero {
        padding: 4rem;
        justify-content: center;
        min-height: 100vh;
        margin: 0 10% 0 10%;
        background-color: white;
      }

      .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
        width: min-content;
        margin: 0 auto;
        }

        .card-deck {
                grid-template-columns: auto auto auto auto;
                gap: 3rem;
                margin: 2rem auto;
        }

      .jar {
        margin: 0 auto;
      }

      table {
        vertical-align: top;
      }

      td {
        min-width: 3rem;
        vertical-align: top;
      }

      tr {
        vertical-align: top;
      }

      .footer {
        padding: 3rem 25% 3rem 25%;
        background-color: #545454;
        color: white;
        align-items: center;
      }

      .carousel {
        max-width: min-content;
        max-height: 43vh;
        box-shadow: 0px 8px 15px #555555;
        border-radius: 10px;
      }

      .carousel-inner, .carousel-item, .carousel img {
        max-height: inherit;
      }

      .carousel img {
        max-height: inherit;
        border-radius: 10px;
      }
                    
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

      